<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Place the app menu item after the `Sale` app (sequence 7) -->
    <menuitem
        id="menu_warranty"
        name="Warranties"
        sequence="8"
        web_icon="sale_warranty,static/description/app_icon.png"
        />

    <menuitem
        id="menu_warranty_warranty"
        name="Warranties"
        parent="menu_warranty"
        sequence="1"
        />

    <menuitem
        id="menu_warranty_config"
        name="Configuration"
        parent="menu_warranty"
        sequence="100"
        />

</odoo>
